html {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
}

.back-button {
    background-color: rgb(235, 232, 203);
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 3vw;
    font-size: 1.5vw;
    margin: 2px;
    border-radius: 10px;
}

.top-adv {
    width: 90vw;
    height: 5vw;
    margin: 2px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
}

.mid-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vw;
    margin: 2px;
    background-color: rgb(190, 190, 190);
    color: black;
    border: 1px solid black;
    text-align: center;
    width: 35vw;
}

.mid-chart {
    width: 65vw;
    border: 1px solid black;
}

.mid-chart-image {
    width: 65vw;
}





.main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
}

.main-left {
    width: 75vw;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 9px;
    height: 35vw;
    margin: 2px;
    margin-bottom: 20px;
    background-color: rgb(190, 190, 190);
    color: black;
    border: 1px solid black;
    text-align: center;

}

.card-comment-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.card-comment-add-image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4vw;
    margin: 1px;
    border: 5px solid rgba(0, 129, 0, 0.35);
    border-radius: 50px;
}

.text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: grey;
    width: 60vw;
    height: 15px;
    border: 1px dotted black;
}

.card-comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.card-comments-image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4vw;
    margin: 1px;
    border: 5px solid rgba(1, 1, 199, 0.35);
    border-radius: 50px;
}

.comment-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    color: black;
    width: 60vw;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
}








.main-right {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.related-article-headlines {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vw;
    height: 3vw;
    background-color:rgb(186, 247, 189);
    color: green;
    border: 1px solid green;
    margin: 2px;
}

.main-right-adv {
    height: 14vw;
    margin: 2px;
}





p {
    margin: 2px;
}





.adv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 207, 235);
    color: purple;
    border: 1px solid purple;
    text-align: center;
    font-size: 9px;
    border-radius: 10px;
}